* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-text-color: #6b6664;
  --second-text-color: #161514;
  --main-background-color: #141414e5;
  --btn-color: #052b3a;
  --btn-th-color: #9e9d9d;
}


img {
  width: 70%;
}

h1 {
  text-align: center;
  color: var(--main-text-color);
  padding-top: 0.6rem;
  font-size: 2.2rem;
}

body {
  background-color: var(--main-background-color);
}

#searchQuery {
  height: 1.8rem;
  font-size: 1rem;
  padding-left: 0.1rem;
}

#searchOptions {
  font-size: 0.9rem;
  height: 1.9rem;
  padding-left: 0.15rem;
}

#selectMovies {
  height: 2rem;
  font-size: 1rem;
}

.frontpageBtn {
  background-color: var(--btn-color);
  color: var(--main-text-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  height: 2rem;
  width: 6rem;
}

#saveTrackBtn,#saveAlbumBtn,#saveArtistBtn {
  background-color: var(--btn-color);
  color: var(--main-text-color);
  display: none;
  position: relative;
  left: 48.4%;
  margin-top: 0.5rem;
}

#saveProfileBtn,#savePasswordBtn {
  margin-top: 0.5rem;
  background-color: var(--btn-color);
  color: var(--main-text-color);
}


.deleteBtn{
  margin-top: 0.5rem;
  background-color: red;
  color: var(--main-text-color);
  display: none;
}

main,
#loginSection {
  margin: 1rem;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: none;
}

th {
  background-color: var(--btn-th-color);
  color: var(--main-text-color);
}

a, p, td, h3, h2, label{
  color: var(--btn-th-color);
}

input[type=text], input[type=password], select, textarea {
  background-color : #d1d1d1; 
  color: var(--second-text-color);

}


th,
td {
  width: 100px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

#frontpageBtnPersonSection,
#frontpageBtnMovieSection {
  display: none;
}

#searchSection {
  text-align: center;
  display: inline;
  padding: 1rem;
}

#addBtn,
#mobileMenu {
  display: none;
}

#resultTrackSection {
  padding: 1rem;
  display: block;
}

#resultArtistSection,
#resultAlbumSection,
#profileSection {
  padding: 1rem;
  display: none;
}

.trackInput {
  width: 50%;
}

.options{
  width: 50.5%;
}

.addOptions{
  width: 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--main-background-color) (0, 0, 0); /* Fallback color */
  background-color: var(--main-background-color) (0, 0, 0, 0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Delete button */
img.logoImg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding: 0.1rem;
  cursor: pointer;
  background-color: var(--btn-th-color);
}

/* Dropdown content */
/* Dropdown Button */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: var(--btn-th-color);
  color: var(--second-text-color);
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: grey;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main-text-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* Remove columns when screen is less than 768px */
@media screen and (max-width: 768px) {
  tr th:nth-child(3),
  tr th:nth-child(4),
  tr th:nth-child(5),
  tr th:nth-child(6),
  tr th:nth-child(7),
  tr td:nth-child(3),
  tr td:nth-child(4),
  tr td:nth-child(5),
  tr td:nth-child(6),
  tr td:nth-child(7) {
    display: none;
  }
  .dropbtn {
    /* display: none; */
    font-size: 14px;
    padding: 14px;
  }
  .dropdown-content {
    min-width: 100px;
  }
  .dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    font-size: 80%;
  }

  
}

@media screen and (max-width: 600px) {
  #searchSection,
  #searchBtn,
  #selectMovies,
  #searchQuery,
  #searchOptions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .frontpageBtn {
    width: 55px;
    height: 30px;
    font-size: 75%;
  }

  th,
  td {
    width: 50px;
    font-size: 0.8rem;
  }
  
  #searchQuery{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    width: 8rem;
  }
}
